In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading csv file
df=pd.read_csv('AQI_Data.csv')

In [3]:
#displaying the first 8 rows
print('displaying the first 8 rows : ')
df.head(8)

displaying the first 8 rows :

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
0,Delhi,2024-01-01,152,153,151,26.509131,1.581413,123.401530,25.062474
1,Delhi,2024-01-02,264,288,268,87.955853,1.242119,144.533790,5.926302
2,Delhi,2024-01-03,307,344,357,94.469744,0.101480,198.520196,32.786668
3,Delhi,2024-01-04,363,334,347,12.075618,1.097072,85.973585,7.099955
4,Delhi,2024-01-05,237,266,250,51.046299,1.591834,47.938019,28.140550
5,Delhi,2024-01-06,369,321,327,64.679037,0.423996,22.359803,47.699849
6,Delhi,2024-01-07,365,328,347,44.687485,0.130336,53.869827,15.846146
7,Delhi,2024-01-08,493,513,526,54.565922,0.165338,182.770876,16.645099

In [4]:
#displaying the last 5 rows
print('displaying the last 5 rows : ')
df.tail(5)

displaying the last 5 rows :

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2
2557,Pune,2024-12-27,419,448,462,26.701714,1.553582,86.973954,44.263423
2558,Pune,2024-12-28,252,202,182,19.920962,1.599821,41.939484,20.545087
2559,Pune,2024-12-29,365,414,410,80.815702,1.919950,39.982167,22.646297
2560,Pune,2024-12-30,253,269,285,66.231614,0.611800,63.966705,10.580135
2561,Pune,2024-12-31,95,140,117,99.505459,0.122817,112.774765,30.814997

In [5]:
#prints the non null count of each column along with their dtype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2562 entries, 0 to 2561
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    2562 non-null   object
 1   Date    2562 non-null   object
 2   AQI     2562 non-null   int64
 3   PM2.5   2562 non-null   int64
 4   PM10    2562 non-null   int64
 5   NO2     2562 non-null   float64
 6   CO      2562 non-null   float64
 7   O3      2562 non-null   float64
 8   SO2     2562 non-null   float64
dtypes: float64(4), int64(3), object(2)
memory usage: 180.3+ KB

In [6]:
#gropus the data wrt City and display the mean of AQI of each city
df.groupby('City')['AQI'].mean()

City
Bangalore    279.543716
Chennai      274.314208
Delhi        279.153005
Hyderabad    280.355191
Kolkata      265.901639
Mumbai       287.797814
Pune         276.379781
Name: AQI, dtype: float64

In [7]:
#gropus the data wrt City and display the max value of PM2.5 of each city
df.groupby('City')['PM2.5'].max()

City
Bangalore    527
Chennai      530
Delhi        539
Hyderabad    543
Kolkata      535
Mumbai       519
Pune         532
Name: PM2.5, dtype: int64

In [8]:
#gropus the data wrt City and display the minimum value of PM10 of each city
df.groupby('City')['PM10'].min()

City
Bangalore    -1
Chennai     -26
Delhi       -17
Hyderabad    15
Kolkata      -8
Mumbai       20
Pune          6
Name: PM10, dtype: int64

In [9]:
city,count=np.unique(df['City'],return_counts=True)

In [10]:
res=dict(zip(city,count))
print('Unique City to No. of Rows Count is :')
for key in res:
    print(f'{key} : {res[key]}')

Unique City to No. of Rows Count is :
Bangalore : 366
Chennai : 366
Delhi : 366
Hyderabad : 366
Kolkata : 366
Mumbai : 366
Pune : 366

In [11]:
#printing the pollutant concentration sum for each row
print('printing the pollutant concentration sum for each row')
Pollutant_Concentration=df['PM2.5']+df['PM10']+df['NO2']+df['CO']+df['O3']+df['SO2']
Pollutant_Concentration

printing the pollutant concentration sum for each row

0        480.554548
1        795.658064
2       1026.878088
3        787.246230
4        644.716701
           ...
2557    1069.492674
2558     468.005355
2559     969.364116
2560     695.390254
2561     500.218038
Length: 2562, dtype: float64

In [12]:
#Adding the new Column
df['Pollutant_Concentration']=Pollutant_Concentration
df.head()

,City,Date,AQI,PM2.5,PM10,NO2,CO,O3,SO2,Pollutant_Concentration
0,Delhi,2024-01-01,152,153,151,26.509131,1.581413,123.401530,25.062474,480.554548
1,Delhi,2024-01-02,264,288,268,87.955853,1.242119,144.533790,5.926302,795.658064
2,Delhi,2024-01-03,307,344,357,94.469744,0.101480,198.520196,32.786668,1026.878088
3,Delhi,2024-01-04,363,334,347,12.075618,1.097072,85.973585,7.099955,787.246230
4,Delhi,2024-01-05,237,266,250,51.046299,1.591834,47.938019,28.140550,644.716701

In [13]:
#Saving the File
df.to_csv('pollutant.txt')